@model UserViewModel

@{
    ViewData["Title"] = "Create Adventure";
}

@section Head{
    <link rel="stylesheet" href="~/css/createAdventure.css" asp-append-version="true" />
}


<div class="container-fluid">
    <div class="row">
        <div class="row page-header">
            <div class="col" style="margin-bottom: 20px;">
                <h1 class="display-6">Create New Adventure</h1>
            </div>
        
        </div>
    </div>
    <div class="row">
        <div class="editor-container">
            <div class="svg-wrapper" id="svgWrapper">
                <svg class="svg-editor" width="800" height="600">
                    <g></g>
                </svg>
            </div>
            <div class="svg-controls">
                <button id="btnZoomIn">Zoom in</button>
                <button onclick="zoomOut()">Zoom out</button>
                <button onclick="resetZoom()">Reset zoom</button>
                <button onclick="panLeft()">Pan left</button>
                <button onclick="panRight()">Pan right</button>
                <button onclick="center()">Center</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- load the d3.js library -->	
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script  src="~/js/treeEditor.js" asp-append-version="true"></script>
    <script  src="~/js/adventure.js" asp-append-version="true"></script>
}