@model UserViewModel

@{
    ViewData["Title"] = "Home";
}

<div id="userLoginContainer">
    <h5 class="display-4">Enter your Email to Begin</h5>

    <form asp-action="Index" asp-controller="Adventure" method="post">
        <div  class="form-control">
            <label asp-for="UserName" class="" >Your name:</label>
            <input asp-for="UserName" />
        </div>
        <div>
            <p></p>
            <button type="submit">Continue</button>
            <p></p>
        </div>
    </form>
</div>

