@model UserViewModel

@{
    ViewData["Title"] = "Home";
}

<div id="userLoginContainer">
    <h1 class="display-4">Enter your Email to Begin</h1>

    <form asp-action="CreateAdventure" method="post">
        <div  class="form-control">
            <label asp-for="UserEmail" class="" >Your name:</label>
            <input asp-for="UserEmail" />
        </div>
        <div>
            <p></p>
            <button type="submit">Continue</button>
            <p></p>
        </div>
    </form>
</div>

