.node rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node-action {
    fill: rgba(255, 255, 255, 0);
    stroke: rgb(83, 180, 70);
    stroke-width: 1px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.link.active {
    fill: none;
    stroke: rgb(121, 207, 220);
    stroke-width: 4px;
}